<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden State Careers</title>

    <!--<link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/section_1.css">
    <link rel="stylesheet" href="../css/section_2.css">
    <link rel="stylesheet" href="../css/section_3.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/section_1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/section_2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/section_3.css') }}">
</head>

<body>
    <div id="navbar">
        <img id="logo" src="{{ url_for('static', filename='misc/logo.png') }}" />
        <h1 id="nav_name">Garden State Careers</h1>
    </div>

    <section id="section_1">
        <div id="section_1_left">
            <h1>
                Find your dream job in New Jersey
            </h1>
            <p>Looking for a job in New Jersey? Create a professional landing page to showcase your skills and attract
                employers</p>

            <form name="registration-form" action="/user_or_company" method="POST">
                <input id="email" type="email" name="email" placeholder="Enter your Email..."
                    onfocusout="checkIfUserExists(event)" required>
                <input id="submit_button" type="submit">
            </form>

            <div id="hype_bar">
                <div id="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                <div class="vl"></div>
                <p>Easy to use</p>
                <div class="vl"></div>
                <p>Professional</p>
            </div>

            <div id="my_div">
                <img src="{{ url_for('static', filename='misc/me_2.jpg') }}" />
                <p id="quote">"This site should help anyone demonstrate their skillset and even more importantly - find
                    a job."</p>
                <p id="name">Andrew Gyakobo</p>
            </div>
        </div>

        <div id="section_1_right"></div>

        <svg id="background_stuff" class="absolute -mr-3 top-8 right-1/2 lg:m-0 lg:left-0" width="404" height="392"
            fill="none" viewBox="0 0 404 392">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
    </section>

    <section id="section_2">
        <div id="section_2_left"></div>
        <div id="section_2_right">
            <h1>Stand out from the competition</h1>
            <p>GSC allows you to create a unique landing page that highlights your skills, experience, and
                achievements, helping you stand out from other job seekers.</p>
        </div>
    </section>

    <!--<h2 id="section_3">Greateness Awaits!</h2>-->

</body>

<script src="{{ url_for('static', filename='js/main/script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

</html>