#section_2 {
    display: inline-block;
    float: left;
    width: 28rem;
    /*height: 15rem;*/
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    background-color: #27272a;
    margin-left: 1.4rem
}

#section_3 {
    display: none;
    float: left;
    width: 35rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    background-color: #27272a;
    margin-left: 1.4rem
}

#section_3 h1 {
    color: rgb(219, 219, 219);
    width: 100%;
    margin: 1rem;
    font-size: 2.5rem;
}


#prob_example_1,
#prob_example_2,
#prob_example_3 {
    margin: 0 1rem;
    color: rgb(255, 191, 71);
    font-size: 1.1rem;
}

#code {
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(202, 202, 202);
    background: gray;
    margin: 1rem;
}

#prob_input {
    width: 100%;
    margin: 1rem 1rem 0 1rem;
    color: rgb(255, 71, 71);
    font-size: 1.2rem;
}

#prob_output {
    width: 100%;
    margin: 0 1rem;
    color: rgb(0, 172, 23);
    font-size: 1.2rem;
}


#prob_example_1 {
    margin-top: 1rem;
}

#prob_desc {
    color: rgb(120, 120, 120);
    margin: 0 1rem;
}

#section_2 h2 {
    width: 100%;
    margin: 1rem;
}

#section_2 #main_section_2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#section_2 #main_section_2 #solved_problems {
    width: 60%;
}

#section_2 #main_section_2 #solved_problems progress {
    width: 100%;
}

/* Progress Bar */
.progress-container {
    transform: scale(80%);
    width: 150px;
    height: 150px;
}

.progress-circle {
    fill: none;
    stroke: #ffa200;
    stroke-width: 3;
    stroke-dasharray: 440;
    /* 2 * π * radius (150) */
    stroke-dashoffset: 440;
    animation: fill 3s ease forwards;
}

@keyframes fill {
    0% {
        stroke-dashoffset: 440;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.progress-text {
    font-size: 24px;
    font-weight: bold;
}

table {
    margin: 2rem auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

thead {
    color: rgb(108, 108, 108);
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: 1px solid rgb(108, 108, 108);
}

td,
th {
    color: white;
    border: 1px solid #27272a;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: gray;
}

#select_leetcode {
    margin: 2rem auto;
    margin-left: 3rem;
    width: 70%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#select_leetcode:hover {
    border: 1px solid #cccccc74;
}

button {
    background-color: #fc189d;
    border: none;
    color: #fff;
    padding: 12px 30px;
    border-radius: 7px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #53005a;
}